.page {
  height: 100%;
  scroll-behavior: smooth;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: $basic-white;
  background-color: $basic-white;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page__body h2 {
  margin: 0;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  font-weight: 400;
  color: $basic-dark;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 32px;
  }
}
